@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 13px;
    z-index: 5;
    color: #000;
    box-sizing: border-box;
    font-family: sans-serif;
}
